*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #a9a9a9;
}

body{
    height: 100vh;
}

.sun{
    background-color: #ffff00;
    border: 2px dashed #ffa500;
    border-radius: 50%;
    text-align: left;
    width: 75px;
    min-height: 75px;
    margin-top: 19px;
    margin-left: 50px;
    position: absolute;
    z-index: 1;
}

.sky{
    display: grid;
    grid-template-columns: 12vw 12vw 12vw;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #00bfff;
    border: 2px solid auto;
    height: 25vh;
    border-radius: 0 0 15px 15px;
    position: relative;
}

.cloud{
    height: 38px;
    margin: 5px;
    background-color: #ffffff;
    border: 2px solid auto;
    border-radius: 73px 73px 53px 19px;
}

.moon{
    background-color: auto;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
    box-shadow: -15px 15px 0 3px #fff;
    border-radius: 50%; 
}

.line{
    border: 2px solid #fff;
    background-color: #fff;
    position: absolute;
    top: 35%;
    left: 49%;
    height: 50px;
}

.masjid{
    border: 2px solid auto;
    position: absolute;
    top: 41%;
    left: 25%;
    height: 55vh;
    width: 50vw;
    border-radius: 55px 55px 0 0;
}

.top{
    border: 2px solid auto;
    position: relative;
    width: 50vw;
    height: 15vh;
    border-radius: 55px 55px 0 0;
    background-color: #fff;
}
.build{
    display: flex;
    align-items: center;
    justify-content: start;
    border: 2px solid auto;
    position: relative;
    width: 50vw;
    height: 38vh;
    background-color: #000;
}

.wind1{
    border: 2px solid auto;
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: 15%;
    left: 12%;
    width: 30px;
    height: 60px;
    background-color: #fff; 
}

.wind2{
    border: 2px solid auto;
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: 15%;
    right: 12%;
    width: 30px;
    height: 60px;
    background-color: #fff; 
}

.door{
    border: 2px solid auto;
    border-radius: 10px 10px 0 0;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    width: 80px;
    height: 100px;
    background-color: #fff; 
}

.floor{
    border: 2px solid auto;
    height: 2vh;
    width: 100%;
    background: linear-gradient(#deb887, #a52a2a);
    box-shadow: -2px 0 2px #deb887;
}