@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Readex+Pro:wght@160..700&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.readex {
    font-family: "Readex Pro", sans-serif;
}

.fredoka {
    font-family: "Fredoka", sans-serif;
}

.saira {
    font-family: "Saira", sans-serif;
}